@use '../base/variables' as v;
@use '../base/mixins' as m;
.header {
    margin-top: 2rem;
    &__contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    .activo {
        color: v.$primario;
        font-weight: bold;
    }
    &__enlace {
        margin-right: 2rem;
        font-size: 1.8rem;
        &:last-of-type {
            margin-right: 0;
        }
    }
}